@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Geist', sans-serif;
}

:root {
    --ui-radius: 0rem;
    --ui-primary: black;
}

.dark {
    --ui-primary: white;
}
